body {
  font-family: "Raleway", sans-serif !important;
  margin: 0;
  padding: 0;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  padding-top: 83px;
}

.container {
  max-width: 1330px;
  padding: 0px 15px;
  width: 100%;
  margin: 0 auto;
}

p {
  font-size: 18px;
  line-height: 150%;
  color: #666;
  padding-bottom: 10px;
  margin: 0;
  font-weight: 500;
}

p:last-child {
  padding-bottom: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #345A46;
  margin: 0;
}

h1 {
  font-size: 50px;
  line-height: 120%;
  margin-bottom: 15px;
}

h2 {
  font-size: 43px;
  line-height: 120%;
  margin-bottom: 15px;
}

h3 {
  font-size: 29px;
  line-height: 120%;
  margin-bottom: 15px;
}

h4 {
  font-size: 26px;
  line-height: 120%;
  margin-bottom: 15px;
}

h5 {
  font-size: 23px;
  line-height: 120%;
  margin-bottom: 15px;
}

h6 {
  font-size: 20px;
  line-height: 120%;
  margin-bottom: 15px;
}

* {
  box-sizing: border-box;
}

.btn-primary {
  display: flex;
  border-radius: 100px;
  cursor: pointer;
  color: #fff;
  gap: 10px;
  text-transform: capitalize;
  width: fit-content;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 15px 30px;
  text-decoration: unset;
  transition: all 0.5s;
  background: #345A46;
}

.btn-primary:hover {
  background: #000;
  transition: all 0.5s;
}

.main-banner-section .btn-wrap {
  margin-top: 20px;
}

.main-banner-section {
  padding: 70px 0px;
  position: relative;
  background-color: #f1f1f1;
}

.main-banner-section .row-wrapper {
  display: grid;
  gap: 70px;
  position: relative;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

.main-banner-section .row-wrapper .image {
    height: 400px;
    display: block;
    position: relative;
    overflow: hidden;
}

.main-banner-section .row-wrapper .image:before {
    content: "";
    position: absolute;
    left: -100%;
    width: 200%;
    top: -200%;
    height: 400%;
    background: linear-gradient(0deg,#345A46 40%,rgba(255, 255, 255, 0) 60%);
    transition: opacity .3s ease;
    animation: styles_rotate__YEup_ 2s linear infinite;
    transform-origin: 50% 50%;
}

@keyframes styles_rotate__YEup_{
  0% {
    transform: translate(25%, 10%) rotate(0deg);
  }
  100% {
      transform: translate(25%, 10%) rotate(1turn);
  }
}

.main-banner-section .row-wrapper .image img {
    height: 400px;
    width: 100%;
    object-fit: cover;
    position: relative;
    z-index: 5;
    padding: 10px;
}


.logo-section {
  padding: 60px 0px;
  position: relative;
}

.logo-box {
  border-radius: 10px;
  padding: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 90px;
  margin: 10px 0px;
  background-color: #fff;
  border: 1px solid rgb(0 0 0 / 10%);
  box-shadow: 0px 0.8px 2px rgba(0, 0, 0, .032), 0px 2.7px 6.7px rgba(0, 0, 0, .048), 0px 8px 27px rgba(0, 0, 0, .08);
}

.logo-box img {
  width: auto;
  object-fit: contain;
}

.swiper-pagination {
  position: unset;
  margin-top: 15px;
}

.swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #345A46;
}


header.main-header {
  position: fixed;
  padding: 15px 0px;
  background-color: #fff;
  box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.2);
  top: 0;
  z-index: 999;
  width: 100%;
}

header.main-header .header-inner {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}


header.main-header .header-inner .logo a {
  display: inline-block;
}

header.main-header .header-inner .logo a img {
  width: 230px;
}

.mb-40 {
  margin-bottom: 40px;
}

.text-center {
  text-align: center;
}

.gallery-section {
  padding: 100px 0;
  background-color: #f1f1f1;
  position: relative;
}

.gallery-section .gallery-box {
  height: 270px;
  width: 100%;
}

.gallery-section .gallery-box img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
  transition: 0.3s;
}

.gallery-section .gallery-box img:hover {
  transform: scale(1.03);
}


.content-listing-section {
  padding: 100px 0px;
  position: relative;
}

header.main-header .header-inner ul.desktop-menu {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
  gap: 45px;
}

header.main-header .header-inner ul.desktop-menu li a {
  font-size: 16px;
  line-height: 150%;
  color: #000;
  margin: 0;
  font-weight: 700;
  text-decoration: unset;
  transition: all 0.5s;
  text-transform: uppercase;
}

header.main-header .header-inner ul.desktop-menu li a:hover {
  color: #345A46;
}


.hamburger {
  display: none;
  font-size: 32px;
  background: none;
  border: none;
  cursor: pointer;
}

.mobile-menu {
  position: fixed;
  top: 0;
  height: 100%;
  background: #111;
  padding: 60px 40px 40px 35px;
  transition: 0.3s ease;
  z-index: 999;
  display: none;
  overflow-y: scroll;
  width: calc(50vw + 50px);
}

.mobile-menu.open {
  right: 0;
}

.mobile-menu ul li {
  list-style: none;
  padding-bottom: 25px;
}

.mobile-menu ul li a {
  color: #fff;
  font-size: 19px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  position: relative;
}

.mobile-menu ul li a:hover {
  color: #345A46;
}


.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 998;
}

.close-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 30px;
  color: #fff;
  background: none;
  border: none;
  cursor: pointer;
}


.tab-section {
    padding: 90px 0px;
    position: relative;
    background-color: #f1f1f1;
}
.tab-section .tab-buttons {
    margin-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.tab-section .tab-buttons button {
    background-color: #000;
    box-shadow: unset;
    border: unset;
    padding: 10px 20px;
    font-size: 20px;
    color: #fff;
    border-radius: 5px;
    font-weight: 500;
    cursor: pointer;
}
.tab-section .tab-buttons button.active {
    background-color: #345A46;
}


.blog-section {
    padding: 70px 0px;
    background-color: #f3f7ff;
    position: relative;
}
.blog-list {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}
.blog-list .blog-card {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 20px 20px 30px 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px 0px rgb(0 0 0 / 10%);
}
.blog-list .blog-card .image{
    height: 250px;
    width: 100%;
    margin-bottom: 20px;
}
.blog-list .blog-card .blog-content-box {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.blog-list .blog-card img.blog-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.blog-list .blog-card .blog-link {
    margin-top: auto;
    display: inline-block;
    font-size: 17px;
    text-decoration: unset;
    font-weight: 600;
    text-transform: capitalize;
    color: #345A46;
}
.blog-list .blog-card .blog-content-box .blog-content {
    margin-bottom: 20px;
}





.keenslider-section{
  padding: 100px 0px;
  position: relative;
}
.keenslider-section .wrapper {
  display: flex;
  justify-content: center;
}
.keenslider-section .scene {
  width: 330px;
  height: 260px;
  perspective: 1000px;
  position: relative;
}

.keenslider-section .scene .carousel.keen-slider {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: visible;
  transform: translateZ(-350px);
  transform-style: preserve-3d;
}

.keenslider-section .carousel__cell {
  position: absolute;
  width: 300px;
  left: 10px;
  height: 260px;
}

.keenslider-section .carousel__cell .image {
    height: 100%;
    width: 100%;
    border: 5px solid #000000;
}
.keenslider-section .carousel__cell .image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}



.contactus-section {
    padding: 100px 0px;
    background-color: #f5f5f5;
    position: relative;
}
form.contact-us-form {
    max-width: 600px;
    margin: 0 auto;
    position: relative;
}
form.contact-us-form .form-row {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
}
form.contact-us-form .form-row .wrapper {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
}
input, select, textarea {
    background-color: #fff;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
    border: unset;
    padding: 15px 20px;
    font-size: 15px;
    width: 100%;
    color: #000;
    border-radius: 5px;
    font-family: "Raleway", sans-serif !important;
}
input::placeholder, select::placeholder, textarea::placeholder {
    color: #000;
}
input:focus, select:focus, textarea:focus{
    outline: unset;
}
form.contact-us-form .form-row .wrapper.w-100{
  width: 100%;
  display: unset;
}
select {
    appearance: none;
    background-image: url(../src/assets/select-arrow.svg);
    background-repeat: no-repeat;
    background-position: right .75rem center;
    background-size: 16px 12px;
    padding: 15px 40px 15px 20px;
}
input[type="submit"] {
    background-color: green;
    color: #fff;
    font-size: 17px;
    border-radius: 50px;
    margin-top: 20px;
    box-shadow: unset;
    transition: all 0.5s;
}
input[type="submit"]:hover {
    background-color: #000;
}
textarea{
  height: 120px;
  resize: unset;
}