
@media (max-width: 1024px) {
  .mobile-menu.open{
    display: block;
  }
  .hamburger{
    display: block;
  }
  header.main-header .header-inner ul.desktop-menu {
    display: none;
  }
}
@media (max-width:767px){
  .mobile-menu {
    padding: 60px 20px 20px 25px;
  }
  .mobile-menu ul li {
      padding-bottom: 20px;
  }
  .mobile-menu ul li a {
      font-size: 16px;
  }
  .close-btn {
      top: 10px;
      right: 10px;
      font-size: 25px;
  }
}